<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet_app</title>
</head>
<body>


<div class = "main top-main">
 <div class = "top-message">
  <h2>つぶやきで、世界はつながる</h2>
  <p>今の気持ちをつぶやいてみよう！</p>
 </div>
</div>
    
</body>
</html>