<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet_App</title>
</head>

<tbody>
  <% @post.each do |post| %>
   
  <tr>
  <div class="post-index-item">
  <td><%= link_to post.content,post_path(post) %></td>
  </div>
  </tr>
  <% end %>

</tbody>


